* {
    padding: 0;
    margin: 0;
}

html {
    width: 100%;
    height: 100%;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    width: 100%;
    min-height: 100%;
    display: flex;
    background-color: black;
    overflow: hidden;
}

#body-protection-container {
    width: 100%;
    flex-grow: 1;
}

#body-inner {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: grid;
    justify-content: center;
    align-content: center;
}


/* basic styling up is ok */

.clock {
    width: 300px;
    height: 300px;
    background-color: rgba(31, 81, 255, .7);
    border: 2px solid white;
    border-radius: 50%;
    position: relative;
}

.number {
    --rotation: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotate(var(--rotation));
    font-size: 1.5rem;
}

.number1 {
    --rotation: 30deg;
}

.number2 {
    --rotation: 60deg;
}

.number3 {
    --rotation: 90deg;
}

.number4 {
    --rotation: 120deg;
}

.number5 {
    --rotation: 150deg;
}

.number6 {
    --rotation: 180deg;
}

.number7 {
    --rotation: 210deg;
}

.number8 {
    --rotation: 240deg;
}

.number9 {
    --rotation: 270deg;
}

.number10 {
    --rotation: 300deg;
}

.number11 {
    --rotation: 330deg;
}


/* hands */

.hand {
    --rotation: 0deg;
    position: absolute;
    bottom: 50%;
    left: 50%;
    border: 2px solid white;
    z-index: 1;
    border-radius: 10px;
    background-color: black;
    transform-origin: bottom;
    transform: translateX(-50%) rotate(calc(var(--rotation)*1deg));
}

.hour {
    width: 10px;
    height: 35%;
    background-color: black;
}

.minute {
    width: 7px;
    height: 40%;
    background-color: black;
}

.seccond {
    width: 3px;
    height: 45%;
    background-color: red;
}

.clock::after {
    content: '';
    position: absolute;
    background-color: white;
    z-index: 2;
    width: 25px;
    height: 25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}